*test*
!tests/
!tests/*.py
notebooks/*
!notebooks/experiments/
!notebooks/experiments/**
*.mat
*.pyc
*.pyc
.venv/
__pycache__/
.matplotlib/
.ipynb_checkpoints/
logs/
*.log
outputs/
!conf/notebook/fourier/test/
!conf/notebook/fourier/test/*.json
!conf/notebook/potential/test/
!conf/notebook/potential/test/*.json
!conf/terminal/fourier/test/
!conf/terminal/fourier/test/*.json
!conf/terminal/potential/test/
!conf/terminal/potential/test/*.json
